<!DOCTYPE html>
<html lang="en">
<head>
	<title>Coin Reward</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Hind:300,400,600|Rubik:400,500,700&display=swap" rel="stylesheet"> 
	<link rel="stylesheet" href="css/fontawesome.min.css">
	<link rel="stylesheet" href="css/fontello-embedded.css">

	<!-- Plugin -->
	<link rel="stylesheet" type="text/css" href="css/aos.css"/>
	<!-- Style -->
	<link rel="stylesheet" type="text/css" href="css/style.css"/>

	<script src="js/jquery.min.js"></script>
</head>
<body>
	<header class="header">
		<div class="top-bar d-block d-xl-none">
			<ul class="list-inline text-right m-0">
				<li class="list-inline-item">
					<a class="nav-link" href="login.html">Sign in</a>
				</li>
				<li class="list-inline-item">
					<a class="nav-link" href="register.html">Get Started</a>
				</li>
				<li class="list-inline-item dropdown">
					<a class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown" href="#">Language</a>
					<div id="langmenu" class="dropdown-menu">
						<div class="dropdown-item active" data-text="English"><i class="icon warning flag"></i>English</div>
						<a href="" class="dropdown-item" data-lang="in" data-text="Hindi"><i class="icon flag"></i>Hindi</a>
						<a href="" class="dropdown-item" data-lang="it" data-text="Indonesian"><i class="icon flag"></i>Indonesian</a>
						<a href="" class="dropdown-item" data-lang="ru" data-text="Russian"><i class="icon flag"></i>Russian</a>
					</div>
				</li>
			</ul>
		</div>	
	
		<!-- Main navigation -->
		<nav class="navbar navbar-expand-md navbar-dark fixed-top">
			<div class="container-fluid wide">
				<!-- Brand -->
				<a href="index.html"  class="navbar-brand">
					<img src="images/logo.png"/>
				</a>

				<!-- Toggler/collapsibe Button -->
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
					<span class="navbar-toggler-icon"></span>
				</button>

				<!-- Navbar links -->
				<div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
					<ul class="navbar-nav">
						<li class="nav-item active">
							<a class="nav-link" href="index.html">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="about.html">About Coin Reward</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="howitworks.html">How it works</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="affiliates.html">Affiliates</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="gethelp.html">Get help</a>
						</li>
						<li class="nav-item highlighted">
							<a class="nav-link" href="login.html">Sign in</a>
						</li>
						<li class="nav-item highlighted">
							<a class="nav-link" href="register.html">Get Started</a>
						</li>
						<li class="nav-item highlighted blue dropdown">
							<a class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown" href="#">Language</a>
							<div id="langmenu" class="dropdown-menu">
								<div class="dropdown-item active" data-text="English"><i class="icon warning flag"></i>English</div>
								<a href="" class="dropdown-item" data-lang="in" data-text="Hindi"><i class="icon flag"></i>Hindi</a>
								<a href="" class="dropdown-item" data-lang="it" data-text="Indonesian"><i class="icon flag"></i>Indonesian</a>
								<a href="" class="dropdown-item" data-lang="ru" data-text="Russian"><i class="icon flag"></i>Russian</a>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<!-- Main navigation end -->
	</header>
	<section id="banner">
		<img src="images/header-bg.png" class="img-fluid">
		<div class="page_text">
			<div class="container">
				<div class="section-title about">
					<h3 class="title" data-aos="fade-right"  data-aos-delay="500">
						About Us
					</h3>

				</div>					
			</div>
		</div>
	</section>
	<!-- Intro Section -->
	<section id="intro">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-12">
					<h6 class="item_subtitle" data-aos="fade-right"  data-aos-delay="500"><b>01.</b> overview</h6>
					<h2 class="item_title" data-aos="fade-right"  data-aos-delay="700">What is Coin Reward?</h2>
					
					<p data-aos="fade-right"  data-aos-delay="900"> Coin Reward is a private, decentralized cryptocurrency with open source code that allows everyone to take part in theCoin Reward network development. Privacy and security come naturally from usingCoin Reward. The best solution for those who want to keep their financial privacy.<br><br>Instant private transactions are provided all around the world by theCoin Reward Network, they are totally untraceable, and they don’t require any additional fees. Lymecoin is bound to the Internet and therefore is international by default.</p>
				</div>
				<div class="col-md-6 col-12" data-aos="fade-left"  data-aos-delay="300">
					<img src="images/bg-8.jpg" class="img-fluid">
				</div>				
			</div>
		</div>
	</section>
	<!-- /Intro Section -->
	<!-- benefit Section -->
	<section id="about_us">
		<div class="container">
			<h6 class="item_subtitle text-center" data-aos="fade-up"  ><b>02.</b> details</h6>
			<h2 class="item_title text-center" data-aos="fade-up"  > Coin Reward Specifics</h2>
			<p class="network">You can participate in the operation of the network by allocating the computing power of your computer. Due to this mechanism, transaction processing is decentralized, which allows a person to be not only a user, but also a participant.</p>
			<!-- Icons Row -->		
			<div class="row sc_icons sc_icons_modern no-gutters">
				<!-- Icon 1 -->
				<div class="col-sm-6 col-lg-3 col-12" data-aos="fade-up" data-aos-delay="200">
					<div class="speed">
						<a href="http:// Coin Reward.ancorathemes.com/services/ Coin Reward-transactions/" id="sc_services_838785937_icon-09-transaction_1" class="sc_services_item_icon icon-09-transaction"></a>
					</div>
					<div class="lymcoin">
						<h4><a href="#"> Coin Reward Transactions</a></h4>
						<p>Transactions betweenCoin Reward users are carried out over the Internet which makes the transactions much more reliable</p>
						<a href="#" class="btn btn-theme btn-more mt-2" data-aos="fade-up"  data-aos-delay="800">Learn More</a>
					</div>
				</div>
				
				<!-- Icon 2 -->
				<div class="col-sm-6 col-lg-3 col-12" data-aos="fade-up" data-aos-delay="500">
					<div class="speed">
						<a href="http:// Coin Reward.ancorathemes.com/services/safety-reliability/" id="sc_services_1876530885_icon-10-safety_2" class="sc_services_item_icon icon-10-safety"></a>
					</div>
					<div class="lymcoin">
						<h4><a href="#">Safety & Reliability</a></h4>
						<p>Your wallet is already protected during the transaction process and its safety doesn’t depend on the network’s reliability</p>
						<a href="#" class="btn btn-theme btn-more mt-2" data-aos="fade-up"  data-aos-delay="800">Learn More</a>
					</div>
				</div>
				<!-- Icon 3 -->
				<div class="col-sm-6 col-lg-3 col-12" data-aos="fade-up" data-aos-delay="700">
					<div class="speed">
						<a href="http:// Coin Reward.ancorathemes.com/services/deflation/" id="sc_services_1876530885_icon-11-deflation_3" class="sc_services_item_icon icon-11-deflation"></a>
					</div>
					<div class=" lymcoin">
						<h4><a href="#">Deflation</a></h4>
						<p> Coin Rewards doesn’t have a deflation problem. Emissions are decreasing slowly, which protects the currency from economic shocks</p>
						<a href="#" class="btn btn-theme btn-more mt-2" data-aos="fade-up"  data-aos-delay="800">Learn More</a>
					</div>
				</div>
				<!-- Icon 4 -->
				<div class="col-sm-6 col-lg-3 col-12" data-aos="fade-up" data-aos-delay="900">
					<div class="speed">
						<a href="http:// Coin Reward.ancorathemes.com/services/emission/" id="sc_services_1876530885_icon-12-emission_4" class="sc_services_item_icon icon-12-emission"></a>
					</div>
					<div class="lymcoin">
						<h4><a href="#">Emission</a></h4>
						<p> Coin Reward emission is an open process. Any user can join theCoin Reward network and take part in the emission process (thus, becoming a miner)</p>
						<a href="#" class="btn btn-theme btn-more mt-2" data-aos="fade-up"  data-aos-delay="800">Learn More</a>
					</div>
				</div>				
			</div><!-- Icons ROW End -->
		</div>
	</section> 
	
	<!-- About Section -->
	<section id="about">
		<div class="container">
			<div class="row flex-row-reverse justify-content-lg-between">
				<div class="col-xl-5 col-lg-6 col-md-6 col-12">
					<h6 class="item_subtitle text-white" data-aos="fade-left"  data-aos-delay="300"><b>03.</b> Capitalization</h6>
					<h2 class="item_title text-white" data-aos="fade-left"  data-aos-delay="500"> Coin Reward Market Value</h2>
					
					<p data-aos="fade-left"  data-aos-delay="500">Nunc aliquam magna sit amet nulla sollicitudin faucibus. Vivamus quis luctus. Phasellus pellentesque hendrerit purus, est interdum nulla egestas id. Aliquam tellus justo, aliquam nulla elementum fermentum. Curabitur augue et sapien iaculis dignissim in eu urna a fermentum mi ullamcorper ac.</p>
					
					<div class="row mt-4">
						<div class="col" data-aos="fade-up"  data-aos-delay="700">
							<h3 class="prise m-0">$541.27</h3>
							<p class="mt-0"> Coin Reward price today</p>
						</div>
						<div class="col" data-aos="fade-up"  data-aos-delay="800">
							<h3 class="prise m-0">$12068.0</h3>
							<p class="mt-0">24 hour volume</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-12 text-center" data-aos="fade-left"  data-aos-delay="100">
					
				</div>
			</div>
		</div>
	</section>
	<!-- /About Section -->
	
	<section id="why_use">
		<div class="container">
			<h6 class="item_subtitle text-center" data-aos="fade-up"  ><b>04.</b>  features</h6>
			<h2 class="item_title text-center mb-5" data-aos="fade-up">Why Use Coin Reward?</h2>
			<div class="row">
				<div class="col-lg-4 ">
					<div class="row">
						<div class="col-lg-3 col-3">
							<a href="http:// Coin Reward.ancorathemes.com/services/completely-anonymous-and-privacy-focused/" id="sc_services_814450265_icon-13-privacy_1" class="sc_services_item_icon icon-13-privacy"></a>
						</div>	
						<div class="col-lg-9 col-9">
							<h4>Completely Anonymous and Privacy-Focused</h4>
							<p>The important part of cryptocurrency is privacy and anonymity – the main focus of a financial transaction.</p>
						</div>	
					</div>
				</div>
				<div class="col-lg-4">
					<div class="row">
						<div class="col-lg-3 col-3">
							<a href="http:// Coin Reward.ancorathemes.com/services/completely-anonymous-and-privacy-focused/" id="sc_services_814450265_icon-13-privacy_1" class="sc_services_item_icon icon-13-privacy"></a>
						</div>	
						<div class="col-lg-9 col-9">
							<h4>Completely Anonymous and Privacy-Focused</h4>
							<p>The important part of cryptocurrency is privacy and anonymity – the main focus of a financial transaction.</p>
						</div>	
					</div>
				</div>
				<div class="col-lg-4">
					<div class="row">
						<div class="col-lg-3 col-3">
							<a href="http:// Coin Reward.ancorathemes.com/services/completely-anonymous-and-privacy-focused/" id="sc_services_814450265_icon-13-privacy_1" class="sc_services_item_icon icon-13-privacy"></a>
						</div>	
						<div class="col-lg-9 col-9">
							<h4>Completely Anonymous and Privacy-Focused</h4>
							<p>The important part of cryptocurrency is privacy and anonymity – the main focus of a financial transaction.</p>
						</div>	
					</div>
				</div>
			
			</div>
		</div>
	</section> 
	
	
	<!-- footer -->	
	<footer class="footer text-center">	
		<div class="container">
			<h2 class="item_title text-white" data-aos="fade-down"  data-aos-delay="100">I’d Like to Learn More <br/>About Coin Reward Chips</h2>
			<div class="newsletter ml-auto mr-auto">
				<div class="input-group" data-aos="fade-down"  data-aos-delay="300">
					<input type="text" class="form-control" placeholder="Enter your Email">
					<div class="input-group-append">
						<button class="btn btn-theme btn-blue" type="submit">Sign up</button>
					</div>
				</div>
				<div class="custom-control custom-checkbox mt-2" data-aos="fade-left"  data-aos-delay="400">
					<input type="checkbox" class="custom-control-input" id="customCheck" name="example1">
					<label class="custom-control-label" for="customCheck">I have read and agree to the terms & conditions</label>
				</div>
			</div>
			<div class="payment_icon" data-aos="fade-in"  data-aos-delay="500">
				<p>We accept payment in:</p>
				<ul class="list-inline">
					<li class="list-inline-item"><img src="images/dashboard-bitcoin.png" alt="" /></li>
					<li class="list-inline-item"><img src="images/dashboard-dash.png" alt="" /></li>
					<li class="list-inline-item"><img src="images/dashboard-ether.png" alt="" /></li>
					<li class="list-inline-item"><img src="images/dashboard-etherclassic.png" alt="" /></li>
					<li class="list-inline-item"><img src="images/dashboard-litecoin.png" alt="" /></li>
					<li class="list-inline-item"><img src="images/dashboard-monero.png" alt="" /></li>
				</ul>
			</div>
			<p data-aos="fade-in"  data-aos-delay="500">Coin Reward &copy; 2019 All rights reserved | Crafted by: Wave Infotech</p>
		</div>
	</footer>
	<!-- /footer -->
	
	

  
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <!-- Plugins -->
  <script src="js/aos.js"></script>
  <script src="js/custom.js"></script>
</body>
</html>	
	