<!DOCTYPE html>
<html lang="en">
<head>
	<title>Coin Reward</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Hind:300,400,600|Rubik:400,500,700&display=swap" rel="stylesheet"> 
	<link rel="stylesheet" href="css/fontawesome.min.css">
	<link rel="stylesheet" href="css/fontello-embedded.css">

	<!-- Plugin -->
	<link rel="stylesheet" type="text/css" href="css/aos.css"/>
	<!-- Style -->
	<link rel="stylesheet" type="text/css" href="css/style.css"/>

	<script src="js/jquery.min.js"></script>
</head>
<body>
	<header class="header">
		<div class="top-bar d-block d-xl-none">
			<ul class="list-inline text-right m-0">
				<li class="list-inline-item">
					<a class="nav-link" href="login.html">Sign in</a>
				</li>
				<li class="list-inline-item">
					<a class="nav-link" href="register.html">Get Started</a>
				</li>
				<li class="list-inline-item dropdown">
					<a class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown" href="#">Language</a>
					<div id="langmenu" class="dropdown-menu">
						<div class="dropdown-item active" data-text="English"><i class="icon warning flag"></i>English</div>
						<a href="" class="dropdown-item" data-lang="in" data-text="Hindi"><i class="icon flag"></i>Hindi</a>
						<a href="" class="dropdown-item" data-lang="it" data-text="Indonesian"><i class="icon flag"></i>Indonesian</a>
						<a href="" class="dropdown-item" data-lang="ru" data-text="Russian"><i class="icon flag"></i>Russian</a>
					</div>
				</li>
			</ul>
		</div>	
	
		<!-- Main navigation -->
		<nav class="navbar navbar-expand-md navbar-dark fixed-top">
			<div class="container-fluid wide">
				<!-- Brand -->
				<a href="index.html"  class="navbar-brand">
					<img src="images/logo.png"/>
				</a>

				<!-- Toggler/collapsibe Button -->
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
					<span class="navbar-toggler-icon"></span>
				</button>

				<!-- Navbar links -->
				<div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
					<ul class="navbar-nav">
						<li class="nav-item active">
							<a class="nav-link" href="index.html">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="about.html">About Coin Reward</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="howitworks.html">How it works</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="affiliates.html">Affiliates</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="gethelp.html">Get help</a>
						</li>
						<li class="nav-item highlighted">
							<a class="nav-link" href="login.html">Sign in</a>
						</li>
						<li class="nav-item highlighted">
							<a class="nav-link" href="register.html">Get Started</a>
						</li>
						<li class="nav-item highlighted blue dropdown">
							<a class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown" href="#">Language</a>
							<div id="langmenu" class="dropdown-menu">
								<div class="dropdown-item active" data-text="English"><i class="icon warning flag"></i>English</div>
								<a href="" class="dropdown-item" data-lang="in" data-text="Hindi"><i class="icon flag"></i>Hindi</a>
								<a href="" class="dropdown-item" data-lang="it" data-text="Indonesian"><i class="icon flag"></i>Indonesian</a>
								<a href="" class="dropdown-item" data-lang="ru" data-text="Russian"><i class="icon flag"></i>Russian</a>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<!-- Main navigation end -->
	</header>
	<section id="banner">
		<img src="images/header-bg.png" class="img-fluid">
		<div class="page_text">
			<div class="container">
				<div class="section-title about">
					<h3 class="title" data-aos="fade-right"  data-aos-delay="500">
						Affiliates
					</h3>

				</div>					
			</div>
		</div>
	</section>
	<!-- Intro Section -->
	<section id="affiliates">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="detail">
						<div class="back_icon">
							<a href="http://lymcoin.ancorathemes.com/services/general/" id="sc_services_1705902965_icon-19-general_1" class="sc_services_item_icon icon-19-general icon"></a>
						</div>
						<h4>General</h4>
						<p>Mauris sagittis, tortor vestibulum et fringilla, magna vulputate metus, commodo non facilisis. Vestibulum commodo, metus eget fringilla convallis, augue elit euismod ante fames ac turpis egestas</p>
						<a href="#" class="btn btn-theme mt-2" data-aos="fade-up"  data-aos-delay="800">Learn More</a>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="detail">
						<a href="http://lymcoin.ancorathemes.com/services/privacy/" id="sc_services_1705902965_icon-20-privacy_2" class="sc_services_item_icon icon-20-privacy icon"></a>
						<h4>Privacy</h4>
						<p>Mauris sagittis, tortor vestibulum et fringilla, magna vulputate metus, commodo non facilisis. Vestibulum commodo, metus eget fringilla convallis, augue elit euismod ante fames ac turpis egestas</p>
						<a href="#" class="btn btn-theme mt-2" data-aos="fade-up"  data-aos-delay="800">Learn More</a>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6">
					<div class="detail">
						<a href="http://lymcoin.ancorathemes.com/services/wallets/" id="sc_services_1782981239_icon-21-wallets_3" class="sc_services_item_icon icon-21-wallets"></a>
						<h4>Wallets</h4>
						<p>Mauris sagittis, tortor vestibulum et fringilla, magna vulputate metus, commodo non facilisis. Vestibulum commodo, metus eget fringilla convallis, augue elit euismod ante fames ac turpis egestas</p>
						<a href="#" class="btn btn-theme mt-2" data-aos="fade-up"  data-aos-delay="800">Learn More</a>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="detail">
						<a href="http://lymcoin.ancorathemes.com/services/recovery/" id="sc_services_1782981239_icon-22-backup_4" class="sc_services_item_icon icon-22-backup"></a>
						<h4>Recovery</h4>
						<p>Mauris sagittis, tortor vestibulum et fringilla, magna vulputate metus, commodo non facilisis. Vestibulum commodo, metus eget fringilla convallis, augue elit euismod ante fames ac turpis egestas</p>
						<a href="#" class="btn btn-theme mt-2" data-aos="fade-up"  data-aos-delay="800">Learn More</a>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6">
					<div class="detail">
						<a href="http://lymcoin.ancorathemes.com/services/recovery/" id="sc_services_1782981239_icon-22-backup_4" class="sc_services_item_icon icon-22-backup"></a>
						<h4>Mining</h4>
						<p>Mauris sagittis, tortor vestibulum et fringilla, magna vulputate metus, commodo non facilisis. Vestibulum commodo, metus eget fringilla convallis, augue elit euismod ante fames ac turpis egestas</p>
						<a href="#" class="btn btn-theme mt-2" data-aos="fade-up"  data-aos-delay="800">Learn More</a>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="detail">
						<a href="http://lymcoin.ancorathemes.com/services/miscellaneous/" id="sc_services_1782981239_icon-24-misc_6" class="sc_services_item_icon icon-24-misc"></a>
						<h4>Miscellaneous</h4>
						<p>Mauris sagittis, tortor vestibulum et fringilla, magna vulputate metus, commodo non facilisis. Vestibulum commodo, metus eget fringilla convallis, augue elit euismod ante fames ac turpis egestas</p>
						<a href="#" class="btn btn-theme mt-2" data-aos="fade-up"  data-aos-delay="800">Learn More</a>
					</div>
				</div>
			</div>
		</div>	
	</section>
	<!-- footer -->	
	<footer class="footer text-center">	
		<div class="container">
			<h2 class="item_title text-white" data-aos="fade-down"  data-aos-delay="100">I’d Like to Learn More <br/>About Coin Reward Chips</h2>
			<div class="newsletter ml-auto mr-auto">
				<div class="input-group" data-aos="fade-down"  data-aos-delay="300">
					<input type="text" class="form-control" placeholder="Enter your Email">
					<div class="input-group-append">
						<button class="btn btn-theme btn-blue" type="submit">Sign up</button>
					</div>
				</div>
				<div class="custom-control custom-checkbox mt-2" data-aos="fade-left"  data-aos-delay="400">
					<input type="checkbox" class="custom-control-input" id="customCheck" name="example1">
					<label class="custom-control-label" for="customCheck">I have read and agree to the terms & conditions</label>
				</div>
			</div>
			<div class="payment_icon" data-aos="fade-in"  data-aos-delay="500">
				<p>We accept payment in:</p>
				<ul class="list-inline">
					<li class="list-inline-item"><img src="images/dashboard-bitcoin.png" alt="" /></li>
					<li class="list-inline-item"><img src="images/dashboard-dash.png" alt="" /></li>
					<li class="list-inline-item"><img src="images/dashboard-ether.png" alt="" /></li>
					<li class="list-inline-item"><img src="images/dashboard-etherclassic.png" alt="" /></li>
					<li class="list-inline-item"><img src="images/dashboard-litecoin.png" alt="" /></li>
					<li class="list-inline-item"><img src="images/dashboard-monero.png" alt="" /></li>
				</ul>
			</div>
			<p data-aos="fade-in"  data-aos-delay="500">Coin Reward &copy; 2019 All rights reserved | Crafted by: Wave Infotech</p>
		</div>
	</footer>
	<!-- /footer -->
	
	

  
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <!-- Plugins -->
  <script src="js/aos.js"></script>
  <script src="js/custom.js"></script>
</body>
</html>	