<!DOCTYPE html>
<html lang="en">
<head>
	<title>Coin Reward</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Hind:300,400,600|Rubik:400,500,700&display=swap" rel="stylesheet"> 
	<link rel="stylesheet" href="css/fontawesome.min.css">
	<link rel="stylesheet" href="css/fontello-embedded.css">

	<!-- Plugin -->
	<link rel="stylesheet" type="text/css" href="css/aos.css"/>
	<!-- Style -->
	<link rel="stylesheet" type="text/css" href="css/style.css"/>

	<script src="js/jquery.min.js"></script>
</head>
<body>
	<header class="header">
		<div class="top-bar d-block d-xl-none">
			<ul class="list-inline text-right m-0">
				<li class="list-inline-item">
					<a class="nav-link" href="login.html">Sign in</a>
				</li>
				<li class="list-inline-item">
					<a class="nav-link" href="register.html">Get Started</a>
				</li>
				<li class="list-inline-item dropdown">
					<a class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown" href="#">Language</a>
					<div id="langmenu" class="dropdown-menu">
						<div class="dropdown-item active" data-text="English"><i class="icon warning flag"></i>English</div>
						<a href="" class="dropdown-item" data-lang="in" data-text="Hindi"><i class="icon flag"></i>Hindi</a>
						<a href="" class="dropdown-item" data-lang="it" data-text="Indonesian"><i class="icon flag"></i>Indonesian</a>
						<a href="" class="dropdown-item" data-lang="ru" data-text="Russian"><i class="icon flag"></i>Russian</a>
					</div>
				</li>
			</ul>
		</div>	
	
		<!-- Main navigation -->
		<nav class="navbar navbar-expand-md navbar-dark fixed-top">
			<div class="container-fluid wide">
				<!-- Brand -->
				<a href="index.html"  class="navbar-brand">
					<img src="images/logo.png"/>
				</a>

				<!-- Toggler/collapsibe Button -->
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
					<span class="navbar-toggler-icon"></span>
				</button>

				<!-- Navbar links -->
				<div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
					<ul class="navbar-nav">
						<li class="nav-item active">
							<a class="nav-link" href="index.html">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="about.html">About Coin Reward</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="howitworks.html">How it works</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="affiliates.html">Affiliates</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="gethelp.html">Get help</a>
						</li>
						<li class="nav-item highlighted">
							<a class="nav-link" href="login.html">Sign in</a>
						</li>
						<li class="nav-item highlighted">
							<a class="nav-link" href="register.html">Get Started</a>
						</li>
						<li class="nav-item highlighted blue dropdown">
							<a class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown" href="#">Language</a>
							<div id="langmenu" class="dropdown-menu">
								<div class="dropdown-item active" data-text="English"><i class="icon warning flag"></i>English</div>
								<a href="" class="dropdown-item" data-lang="in" data-text="Hindi"><i class="icon flag"></i>Hindi</a>
								<a href="" class="dropdown-item" data-lang="it" data-text="Indonesian"><i class="icon flag"></i>Indonesian</a>
								<a href="" class="dropdown-item" data-lang="ru" data-text="Russian"><i class="icon flag"></i>Russian</a>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<!-- Main navigation end -->
	</header>
	<section id="banner">
		<img src="images/header-bg.png" class="img-fluid">
		<div class="page_text">
			<div class="container">
				<div class="section-title about">
					<h3 class="title" data-aos="fade-right"  data-aos-delay="500">
						How It Works
					</h3>
				</div>					
			</div>
		</div>
	</section>
	<!-- Intro Section -->
	<section id="how_it">
		<div class="container">
			<div class="work">
				<h3 class="text-center mb-5">Our Support Policy</h3>
				<div class="row">
					<div class="col-lg-6">
						<p>To get a pre-purchase advice, you may post in the theme’s forum.<br>
							To get a response more promptly, you are recommended to use our Ticket-system.<br>
							We try to answer your questions within 12-24 hours. However, if any delay occurs, it doesn’t mean that we forgot about you. Some of the issues require testing and analyzing, so we can resolve it effectively.<br>
							Support time schedule is Monday – Friday: -10.00 – 19.00 CET
							</p>
					</div>
					<div class="col-lg-6">
						<p>Please note! We do not provide support, if you do not have the purchase code.<br>
							Item support does not include:<br>
							   1. Customization and installation.<br>
							   2. Support for third party software and plugins.
						</p>
					</div>
				</div>
			</div>
			<hr>
			<div class="work">
				<h3 class="text-center mb-5">How to use our Support System</h3>
				<div class="row">
					<div class="col-lg-6">
						<img src="images/7_supportA.png"/>
					</div>
					<div class="col-lg-6">
						<p>
						   1. In the ‘Item Details’ there is a clickable banner “Support Sys”, which leads you to tickets.<br>
							2. Or you may simply follow this link: ancorathemes.ticksy.com.<br>
							3. Enter your purchase key and register in the system.<br>
							4. To avoid a confusion, please use your own ThemeForest login in Support System.<br>
							5. Fill out the ticket form.
						</p>
					</div>
				</div>
			</div>
			<hr>
			<div class="work">
				<h3 class="text-center mb-5">Recommended Hosting</h3>
				<p class="text-center">Ancora offers only the best products and services and recommends them to their customers. One of the most important services is HOSTING. Unlike any cheap hostings that usually have limited resources which causes many problems to the site owners, quality hosting gives a client a fair amount of resources sufficient for any website and any task. By using quality hosting you can rest assured that your site will work smoothly. If you happen to use such hosting with limited resources (e.g. GoDaddy!), you may experience issues with “one-click install” feature. In that case, you are always welcome to contact our support team to get qualified help.</p>
			</div>
		</div>
	
	
	</section>
	<!-- footer -->	
	<footer class="footer text-center">	
		<div class="container">
			<h2 class="item_title text-white" data-aos="fade-down"  data-aos-delay="100">I’d Like to Learn More <br/>About Coin Reward Chips</h2>
			<div class="newsletter ml-auto mr-auto">
				<div class="input-group" data-aos="fade-down"  data-aos-delay="300">
					<input type="text" class="form-control" placeholder="Enter your Email">
					<div class="input-group-append">
						<button class="btn btn-theme btn-blue" type="submit">Sign up</button>
					</div>
				</div>
				<div class="custom-control custom-checkbox mt-2" data-aos="fade-left"  data-aos-delay="400">
					<input type="checkbox" class="custom-control-input" id="customCheck" name="example1">
					<label class="custom-control-label" for="customCheck">I have read and agree to the terms & conditions</label>
				</div>
			</div>
			<div class="payment_icon" data-aos="fade-in"  data-aos-delay="500">
				<p>We accept payment in:</p>
				<ul class="list-inline">
					<li class="list-inline-item"><img src="images/dashboard-bitcoin.png" alt="" /></li>
					<li class="list-inline-item"><img src="images/dashboard-dash.png" alt="" /></li>
					<li class="list-inline-item"><img src="images/dashboard-ether.png" alt="" /></li>
					<li class="list-inline-item"><img src="images/dashboard-etherclassic.png" alt="" /></li>
					<li class="list-inline-item"><img src="images/dashboard-litecoin.png" alt="" /></li>
					<li class="list-inline-item"><img src="images/dashboard-monero.png" alt="" /></li>
				</ul>
			</div>
			<p data-aos="fade-in"  data-aos-delay="500">Coin Reward &copy; 2019 All rights reserved | Crafted by: Wave Infotech</p>
		</div>
	</footer>
	<!-- /footer -->
	
	

  
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <!-- Plugins -->
  <script src="js/aos.js"></script>
  <script src="js/custom.js"></script>
</body>
</html>	
	